.button {
  border: none;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.circle {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text {
  margin: 10px;
}

.badge-button {
  position: absolute;
  background-color: #F5ECB7;
  padding: 2px;
  right: 0;
  top: -5px;
}