.card-wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.top {
  height: 200px;
  position: relative;
}

.top img {
  object-fit: cover;
  object-position: 50% 50%;
}

.card-title {
  position: absolute;
  bottom: 0;
  color: white;
  margin: 0;
  font-size: 1.2em;
  width: 100%;
  padding: 20px;
}

.image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(35,25,45);
  background: linear-gradient(0deg, rgba(35,25,45,0.7) 0%, rgba(35,25,45,0.5) 35%, rgba(35,25,45,0) 100%);
  top: 0;
}

.bottom {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pills-wrapper {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
}

.pills-item {
  margin-top: 10px;
}

.card-summary-wrapper {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-summary {
  color: #23192D;
  font-size: 14px;
  margin: 0;
}