header {
  max-height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  transition: transform 300ms ease-in, background-color 300ms ease-out;
  z-index: 99;
  justify-content: center;
}

header a {
  text-decoration: none;
}

.header-inner {
  width: 100%;
  max-width: 1280px;
}

.header-logo {
  display: flex;
}

.header-logo-text {
  margin: 2px 0 0 7px;
  font-size: 2em;
  color: white;
}

@media only screen and (max-width: 560px) {
  .header-logo-text {
    font-size: 1.7em;
  }
  .header-logo img {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (max-width: 400px) {
  header {
    padding: 20px 20px;
  }
}