.recipe-list-wrapper {
  padding-top: 60px;
}

.recipe-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-list-setting {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.card-list-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.card-item-wrapper {
  margin-bottom: 20px;
}

.recipe-list-title {
  font-size: 2em;
}

.empty-list-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  flex-direction: column;
}

.empty-list-wrapper p {
  color: #23192D;
  font-size: 1.25em;
  margin-top: 20px;
}